<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 style="color:green;">{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Dashboard</h1>

    <h2>Welcome, {{ username }}</h2>

    <a href="{{ url_for('home') }}">Home</a>
    |
    <a href="{{ url_for('login') }}">Login</a>

</body>
</html>